<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<ul class="users">
  <% counter = 0 %>
  <!-- 上位6人まで、追加したユーザーを表示する上でのカウンター -->
  <% @skill_count_array.each do |array| %>
    <% counter += 1 %>
    <li>
      <% skill = Skill.find(array[0]) %>
      <!-- +１をするためのフォーム -->
      <% unless @user.id == current_user.id %>
        <%= form_for @userskill do |f| %>
          <%= render 'shared/error_messages' %>
          <%= hidden_field_tag 'skill_id', skill.id %>
          <%= hidden_field_tag 'user_id', @user.id %>
          <%= f.submit "+1", class: "btn btn-primary add-one" %>
        <% end %>
      <% end %>

      <%= array[1]-1 %>
      <%= link_to skill.name, skill %>

      <!-- +1をしたユーザーの画像表示 -->
      <% if counter <= 6 %>
        <% add_one_users(skill.id,@user.id).each do |added_user| %>
          <%= link_to gravatar_for(added_user),added_user %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @skill do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.autocomplete_field :name, autocomplete_skill_name_skills_path %>

      <%= hidden_field_tag 'user_id', @user.id %>

      <%= f.submit "Add new skill", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
